vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|12 Nov 2004 05:00:00 -0000
vti_syncwith_soxx.com\:21/public_html:TW|29 Dec 2005 01:21:05 -0000
vti_syncofs_soxx.com\:21/public_html:TW|12 Nov 2004 05:00:00 -0000
vti_author:SR|ntsl308239
vti_modifiedby:SR|ntsl308239
vti_nexttolasttimemodified:TW|12 Nov 2004 05:00:00 -0000
vti_timecreated:TR|29 Dec 2005 18:54:34 -0000
vti_extenderversion:SR|5.0.2.2634
vti_syncwith_localhost\\c\:\\documents and settings\\carol\\my documents\\my web sites\\mysite/c\:/documents and settings/carol/my documents/my web sites/mysite:TW|12 Nov 2004 05:00:00 -0000
vti_cacheddtm:TX|29 Dec 2005 18:54:34 -0000
vti_filesize:IR|11313
vti_cachedlinkinfo:VX|S|../images/bullet.gif S|../images/header_green_bg.gif S|../images/home_content_bg_img.gif S|../images/ebusiness_content_bg_img.gif S|../images/database_content_bg_img.gif S|../images/info_content_bg_img.gif S|../images/integration_content_bg_img.gif S|../images/business_content_bg_img.gif S|../images/partnership_content_bg_img.gif S|../images/contact_content_bg_img.gif S|../images/what_content_bg_img.gif
vti_cachedsvcrellinks:VX|FSUS|images/bullet.gif FSUS|images/header_green_bg.gif FSUS|images/home_content_bg_img.gif FSUS|images/ebusiness_content_bg_img.gif FSUS|images/database_content_bg_img.gif FSUS|images/info_content_bg_img.gif FSUS|images/integration_content_bg_img.gif NSUS|images/business_content_bg_img.gif FSUS|images/partnership_content_bg_img.gif FSUS|images/contact_content_bg_img.gif FSUS|images/what_content_bg_img.gif
vti_backlinkinfo:VX|privacy.html information_management.html contact.html business_continuance.html ebusiness.html what_we_do.html partnerships.html integration.html index.html database.html
